version: '3.8'

services:
  mattermost:
    image: mattermost/mattermost-team-edition:latest
    environment:
      - MM_DB_TYPE=postgres
      - MM_DB_NAME=mattermost_test
      - MM_DB_USER=mmuser
      - MM_DB_PASSWORD=mmuser_password
      - MM_DB_HOST=db:5432
      - MM_DB_PORT=5432
      - MM_DB_SSL_MODE=disable
    ports:
      - "8065:8065"
    depends_on:
      - db
    networks:
      - mattermost_network
    volumes:
      - mattermost_data:/mattermost/data

  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=mmuser
      - POSTGRES_PASSWORD=mmuser_password
      - POSTGRES_DB=mattermost_test
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - mattermost_network

networks:
  mattermost_network:
    driver: bridge

volumes:
  mattermost_data:
  postgres_data:
